{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="content">
      <div class="centrator">
        <section>
  <div class="line">
    <span class="title">
      Рекламации
    </span>
  </div>
  <div class="line">
    <div class="column">
      <div class="search_result">
        {% if is_aut %}
        <div class="result_info">
          <span>Добро пожаловать, {{request.user.username}}!</span>
        </div>
        <div class="result_info">
          <span>Детальная информация по рекламациям вашей техники</span>
        </div>
        <div class="search_result">
        <div class="result_info">
          <div class="machine">
            <span>
              Модель техники {{machine.technique_model}}
            </span>
            <span>
              Заводской номер техники {{machine.number_machine}}
            </span>
          </div>
        </div>
      </div>
         <div class="result_collection">
          <div class="tabs">
            <a href="{% url 'machine_detail' machine.pk %}">
            <div class="tab">
              <span>
                Общая информация
              </span>
            </div>
            </a>
            <a href="{% url 'to_detail' machine.pk %}">
              <div class="tab">
              <span>
                ТО
              </span>
            </div>
            </a>
            <a href="{% url 'complaint_detail' machine.pk %}">
            <div class="tab active">
              <span>
                Рекламации
              </span>
            </div>
            </a>
            {% if is_manager == 'Менеджер' %}
            <a href="/servisecomp/">
            <div class="tab">
              <span>
                Списки
              </span>
            </div>
            </a>
            {% endif %}
          </div>
         </div>
        <div class="result_collection">
          <table>
            <tbody><tr>
              <th class="nam left">Дата отказа</th>
              <th class="nam left">Наработка, м/час</th>
              <th class="nam left">Узел отказа</th>
              <th class="nam left">Описание отказа</th>
              <th class="nam left">Способ восстановления</th>
              <th class="nam left">Используемые запасные части</th>
              <th class="nam left">Дата восстановления</th>
              <th class="nam left">Зав. № машины</th>
              <th class="nam left">Сервисная компания</th>
              <th class="nam left">Изменить</th>
              <th class="nam left">Удалить</th>
            <tr>
              <td class="nam left">{{complaint_d.date_rejection}}</td>
              <td class="nam left">{{complaint_d.operating_time}}</td>
              <td class="nam left">{{complaint_d.failure_node}}</td>
              <td class="nam left">{{complaint_d.failure_description}}</td>
              <td class="nam left">{{complaint_d.recovery_method}}</td>
              <td class="nam left">{{complaint_d.spare_parts}}</td>
              <td class="nam left">{{complaint_d.recovery_date}}</td>
              <td class="nam left">{{complaint_d.machine_complaint}}</td>
              <td class="nam left">{{complaint_d.service_company_complaint}}</td>
              <td class="nam left">
                <div class="tabs">
                  <a href="{% url 'complaint_update' complaint_d.pk %}">
                    <div class="tab active">
                      <span>
                        <div class="smalltext">Изменить</div>
                      </span>
                    </div>
                  </a>
                </div>
              </td>
              <td class="nam left">
                <div class="tabs">
                  <a href="{% url 'complaint_delete' complaint_d.pk %}">
                    <div class="tab active">
                      <span>
                        <div class="smalltext">Удалить</div>
                      </span>
                    </div>
                  </a>
                </div>
              </td>
            </tr>
            </tr>
            <tr>
              <td class="nam left"></td>
              <td class="nam left"></td>
              <td class="nam left">{{node.description}}</td>
              <td class="nam left"></td>
              <td class="nam left">{{recovery.description}}</td>
              <td class="nam left"></td>
              <td class="nam left"></td>
              <td class="nam left"></td>
              <td class="nam left">{{service.description}}</td>
            </tr>
          </tbody></table>
           <div class="tabs">
                  <a href="{% url 'complaint_create' %}">
                    <div class="tab">
                      <span>
                        Добавить рекламацию
                      </span>
                    </div>
                  </a>
                </div>
          {% else %}
          <div class="search_result empty_result">
            <span>
              Для просмотра страницы необходима автризация
            </span>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>        </section>
      </div>
    </div>
{% endblock content %}

