{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="content">
      <div class="centrator">
        <section>
  <div class="line">
    <span class="title">
      Общая информация
    </span>
  </div>
  <div class="line">
    <div class="column">
      <div class="search_result">
        <div class="result_info">
          <span>Добро пожаловать, {{request.user.username}}!</span>
        </div>
        <div class="result_info">
          <span>Вы действительно хотите удалить технику?</span>
        </div>
        <div class="search_result">
        <div class="result_info">
          <div class="machine">
            <span>
              Модель техники {{machine.technique_model}}
            </span>
            <span>
              Заводской номер техники {{machine.number_machine}}
            </span>
          </div>
        </div>
      </div>
        <div class="result_collection">
          <table>
            <tbody><tr>
              <th class="nam left">Зав. № машины</th>
              <th class="nam left">Модель техники</th>
              <th class="nam left">Модель двигателя</th>
              <th class="nam left">Зав. № двигателя</th>
              <th class="nam left">Модель трансмиссии</th>
              <th class="nam left">Зав. № трансмиссии</th>
              <th class="nam left">Модель ведущего моста</th>
              <th class="nam left">Зав. № ведущего моста</th>
              <th class="nam left">Модель управляемого моста</th>
              <th class="nam left">Зав. № управляемого моста</th>
              <th class="nam left">Договор поставки №, дата</th>
              <th class="nam left">Дата отгрузки с завода</th>
              <th class="nam left">Грузополучатель (конечный потребитель)</th>
              <th class="nam left">Адрес поставки (эксплуатации)</th>
              <th class="nam left">Комплектация (доп. опции)</th>
              <th class="nam left">Клиент</th>
              <th class="nam left">Сервисная компания</th>
            </tr>
            <tr>
              <td class="nam left">{{machine.number_machine}}</td>
              <td class="nam left">{{machine.technique_model}}</td>
              <td class="nam left">{{machine.engine_model}}</td>
              <td class="nam left">{{machine.engine_number}}</td>
              <td class="nam left">{{machine.transmission_model}}</td>
              <td class="nam left">{{machine.transmission_number}}</td>
              <td class="nam left">{{machine.drive_axle_model}}</td>
              <td class="nam left">{{machine.drive_axle_number}}</td>
              <td class="nam left">{{machine.steering_bridge_model}}</td>
              <td class="nam left">{{machine.steering_bridge_number}}</td>
              <td class="nam left">{{machine.supply_contract}}</td>
              <td class="nam left">{{machine.shipping_date}}</td>
              <td class="nam left">{{machine.consignee}}</td>
              <td class="nam left">{{machine.delivery_address}}</td>
              <td class="nam left">{{machine.equipment}}</td>
              <td class="nam left">{{machine.client}}</td>
              <td class="nam left">{{machine.service_company}}</td>
              </td>
            </tr>
          </tbody></table>
          <div class="tabs">
                    <div class="tabs">
                        <form method="POST">
                        {% csrf_token %}
                        <input class="tab" type="submit" value="подтвердить">
                        </form>
                    </div>
                </div>
        </div>
      </div>
    </div>
  </div>
        </section>
      </div>
</div>
{% endblock content %}

