{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="content">
      <div class="centrator">
        <section>
  <div class="line">
    <span class="title">
      Общая информация
    </span>
  </div>
  <div class="line">
    <div class="column">
      <div class="search_result">
        <div class="result_info">
          <span>Добро пожаловать, {{request.user.username}}!</span>
        </div>
        <div class="result_info">
          <span>Вы действительно хотите удалить информацию о ТО?</span>
        </div>
        <div class="search_result">
        <div class="result_info">
          <div class="machine">
            <span>
              Модель техники {{machine.technique_model}}
            </span>
            <span>
              Заводской номер техники {{machine.number_machine}}
            </span>
          </div>
        </div>
      </div>
        <div class="result_collection">
          <table>
            <tbody><tr>
              <th class="nam left">Вид ТО</th>
              <th class="nam left">Дата проведения ТО</th>
              <th class="nam left">Наработка, м/час</th>
              <th class="nam left">№ заказ-наряда</th>
              <th class="nam left">дата заказ-наряда</th>
              <th class="nam left">Сервисная компания</th>
              <th class="nam left">Зав. № машины</th>
              <th class="nam left">Изменить</th>
            <tr>
              {% for t in to_d %}
              <td class="nam left">{{t.service_type}}</td>
              <td class="nam left">{{t.service_date}}</td>
              <td class="nam left">{{t.operating_time}}</td>
              <td class="nam left">{{t.work_order_number}}</td>
              <td class="nam left">{{t.work_order_date}}</td>
              <td class="nam left">{{t.company_make_service}}</td>
              <td class="nam left">{{t.machine_to}}</td>
              </td>
            </tr>
            {% endfor %}
          </tbody></table>
          <div class="tabs">
                    <div class="tabs">
                        <form method="POST">
                        {% csrf_token %}
                        <input class="tab" type="submit" value="подтвердить">
                        </form>
                    </div>
                </div>
        </div>
      </div>
    </div>
  </div>
        </section>
      </div>
    </div>
{% endblock content %}

