{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="content">
      <div class="centrator">
        <section>
  <div class="line">
    <span class="title">
      Общая информация
    </span>
  </div>
  <div class="line">
    <div class="column">
      <div class="search_result">
        {% if is_aut %}
        <div class="result_info">
          <span>Добро пожаловать, {{request.user.username}}!</span>
        </div>
        <div class="result_info">
          <span>Детальная информация о вашей технике</span>
        </div>
        <div class="search_result">
        <div class="result_info">
          <div class="machine">
            <span>
              Модель техники {{machine.technique_model}}
            </span>
            <span>
              Заводской номер техники {{machine.number_machine}}
            </span>
          </div>
        </div>
      </div>
        <div class="result_collection">
          <div class="tabs">
            <a href="{% url 'machine_detail' machine.pk %}">
            <div class="tab active">
              <span>
                Общая информация
              </span>
            </div>
            </a>
            <a href="{% url 'to_list' machine.pk %}">
              <div class="tab">
              <span>
                ТО
              </span>
            </div>
            </a>
            <a href="{% url 'complaint_list' machine.pk %}">
            <div class="tab">
              <span>
                Рекламации
              </span>
            </div>
            </a>
            {% if is_manager == 'Менеджер' %}
            <a href="/servisecomp/">
            <div class="tab">
              <span>
                Списки
              </span>
            </div>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="result_collection">
          <table>
            <tbody><tr>
              <th class="nam left">Зав. № машины</th>
              <th class="nam left">Модель техники</th>
              <th class="nam left">Модель двигателя</th>
              <th class="nam left">Зав. № двигателя</th>
              <th class="nam left">Модель трансмиссии</th>
              <th class="nam left">Зав. № трансмиссии</th>
              <th class="nam left">Модель ведущего моста</th>
              <th class="nam left">Зав. № ведущего моста</th>
              <th class="nam left">Модель управляемого моста</th>
              <th class="nam left">Зав. № управляемого моста</th>
              <th class="nam left">Договор поставки №, дата</th>
              <th class="nam left">Дата отгрузки с завода</th>
              <th class="nam left">Грузополучатель (конечный потребитель)</th>
              <th class="nam left">Адрес поставки (эксплуатации)</th>
              <th class="nam left">Комплектация (доп. опции)</th>
              <th class="nam left">Клиент</th>
              <th class="nam left">Сервисная компания</th>
              <th class="nam left">Изменить</th>
              <th class="nam left">Удалить</th>
            </tr>
            <tr>
              <td class="nam left">{{machine.number_machine}}</td>
              <td class="nam left">{{machine.technique_model}}</td>
              <td class="nam left">{{machine.engine_model}}</td>
              <td class="nam left">{{machine.engine_number}}</td>
              <td class="nam left">{{machine.transmission_model}}</td>
              <td class="nam left">{{machine.transmission_number}}</td>
              <td class="nam left">{{machine.drive_axle_model}}</td>
              <td class="nam left">{{machine.drive_axle_number}}</td>
              <td class="nam left">{{machine.steering_bridge_model}}</td>
              <td class="nam left">{{machine.steering_bridge_number}}</td>
              <td class="nam left">{{machine.supply_contract}}</td>
              <td class="nam left">{{machine.shipping_date}}</td>
              <td class="nam left">{{machine.consignee}}</td>
              <td class="nam left">{{machine.delivery_address}}</td>
              <td class="nam left">{{machine.equipment}}</td>
              <td class="nam left">{{machine.client}}</td>
              <td class="nam left">{{machine.service_company}}</td>
              <td class="nam left">
                <div class="tabs">
                  <a href="{% url 'machine_update' machine.pk %}">
                    <div class="tab active">
                      <span>
                        <div class="smalltext">Изменить</div>
                      </span>
                    </div>
                  </a>
                </div>
              </td>
              <td class="nam left">
                <div class="tabs">
                  <a href="{% url 'machine_delete' machine.pk %}">
                    <div class="tab active">
                      <span>
                        <div class="smalltext">Удалить</div>
                      </span>
                    </div>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
             <td class="nam left"></td>
              <td class="nam left">{{technique.description}}</td>
              <td class="nam left">{{engine.description}}</td>
              <td class="nam left"></td>
              <td class="nam left">{{trans.description}}</td>
              <td class="nam left"></td>
              <td class="nam left">{{axle.description}}</td>
              <td class="nam left"></td>
              <td class="nam left">{{steering.description}}</td>
              <td class="nam left"></td>
              <td class="nam left"></td>
              <td class="nam left"></td>
              <td class="nam left"></td>
              <td class="nam left"></td>
              <td class="nam left"></td>
              <td class="nam left"></td>
              <td class="nam left">{{service.description}}</td>
            </tr>
          </tbody></table>
          <div class="tabs">
                  <a href="{% url 'machine_create' %}">
                    <div class="tab">
                      <span>
                        Добавить технику
                      </span>
                    </div>
                  </a>
                </div>
          {% else %}
          <div class="search_result empty_result">
            <span>
              Для просмотра страницы необходима автризация
            </span>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
        </section>
      </div>
</div>
{% endblock content %}

