{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="content">
      <div class="centrator">
        <section>
          <div class="line">
            <span class="title">
              Проверьте комплектацию и технические характеристики техники Силант
            </span>
          </div>
          <div class="line">
            <form action="{% url 'search' %}">
              <div class="form_line">
                <div class="input">
                  <input type="text" placeholder="Заводской номер" name="search">
                  <span>Например: 00XX</span>
                </div>
                <input type="submit" value="Найти">
              </div>
            </form>
          </div>
          <div class="line">
            <div class="column">
              <div class="search_result">
                <div class="result_info">
                  <span>Информация о коплектации и технических характеристиках вашей техники</span>
                </div>
                <div class="result_collection">
                  {% if machine != 'К сожалению ничего не найдено :('%}
                  <table>
                    <tbody><tr>
                      <th class="nam left">Зав. № машины</th>
                      <th class="nam left">Модель техники</th>
                      <th class="nam left">Модель двигателя</th>
                      <th class="nam left">Зав. № двигателя</th>
                      <th class="nam left">Модель трансмиссии</th>
                      <th class="nam left">Зав. № трансмиссии</th>
                      <th class="nam left">Модель ведущего моста</th>
                      <th class="nam left">Зав. № ведущего моста</th>
                      <th class="nam left">Модель управляемого моста</th>
                      <th class="nam left">Зав. № управляемого моста</th>
                    </tr>
                    {% for m in machine %}
                    <tr>
                      <td class="nam left">{{m.number_machine}}</td>
                      <td class="nam left">{{m.technique_model}}</td>
                      <td class="nam left">{{m.engine_model}}</td>
                      <td class="nam left">{{m.engine_number}}</td>
                      <td class="nam left">{{m.transmission_model}}</td>
                      <td class="nam left">{{m.transmission_number}}</td>
                      <td class="nam left">{{m.drive_axle_model}}</td>
                      <td class="nam left">{{m.drive_axle_number}}</td>
                      <td class="nam left">{{m.steering_bridge_model}}</td>
                      <td class="nam left">{{m.steering_bridge_number}}</td>
                    </tr>
                    {% endfor %}
                  </tbody></table>
                  {% endif %}
                  {% if machine == 'К сожалению ничего не найдено :(' %}
                  <div class="search_result empty_result">
                    <span>
                      {{ machine }}
                    </span>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
{% endblock content %}



